.nameStyle {
  background-color: rgb(27, 193, 27);
  color: black;
  border-radius: 2rem;
  border-color: black;
  border-width: 10px;
}

#iconStyle {
  font-size: 2rem;
}

#towerStyles {
  background-color: rgb(139, 139, 139);
  color: rgb(255, 255, 255);
  box-shadow: 1vw;
  opacity: 80%;
}
.normal {
  background-color: whitesmoke;
}
.rojo {
  background-color: red;
}
.verde {
  background-color: green;
}

#totalCarrito {
  color: beige;
  background-color: rgb(215, 65, 65);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.elementoCarrito {
  border-bottom: solid dashed;
  border-bottom: dashed;
  border-width: 1px;
  background-color: rgb(249, 247, 247);
}
