.nameStyle {
  background-color: rgb(27, 193, 27);
  color: black;
  border-radius: 2rem;
  border-color: black;
  /* border-style: double; */
  border-width: 10px;
}

#iconStyle {
  font-size: 2rem;
}

#towerStyles {
  background-color: rgb(139, 139, 139);
  color: rgb(255, 255, 255);
  box-shadow: 1vw;
  opacity: 80%;
}
.normal{
  background-color: whitesmoke;
}
.rojo{
  background-color: red;
}
.verde{
  background-color:green;
}